.is-open-modal {
	overflow: hidden;
}
/*Внутри окна*/
.modal {
	box-sizing: border-box;
    position: fixed;
	z-index: 1000;
	background: rgba(0,0,0, 0.4);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 3rem;
	display: none;
    text-align: left;
    line-height: 1.5;
}
.modal.is-open {
	display: block;
    
}


.dialog1 {
	box-sizing: border-box;
    margin: 250px auto;
	max-width: 540px;
    padding-top:100px;
/*
	max-width: 30%;
    min-width: 70px;
*/
    left: 5%;
	background: #000;
	position: relative;
/*	transform: translateX(-50%);*/
	border-radius: 10px;
	padding: 8px 15px 5px 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);

}

.dialog2 {
	box-sizing: border-box;
    margin: 250px auto;
 /* width: auto;
	max-width: 15%;*/
    width: 270px;
    left: 5%;
	background: #000;
	position: relative;
/*	transform: translateX(-50%);*/
	border-radius: 10px;
	padding: 8px 15px 5px 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.string {
    text-align: center;
    line-height: 2;
    font-weight: 600;
}

